* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(90deg, rgba(65, 184,131,1)0%, rgba(0, 212, 255, 1));
}

.container {
    border:  2px solid #fff;
    padding: 30px 40px;
    width: 40%;
    min-width: 500px;
}

.tarefa-container {
    background-color: #fff;
    padding: 30px 40px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    display: flex;
}

.tarefa-container input {
    flex: 3;
    font-size: 1rem;
    border: 2px solid #d1d3d4;
    padding: 12px;
    font-weight: 500;
    border-radius: 5px;
}

.tarefa-container input:focus {
    outline: none;
    border-color: #41b883;
    border-radius: 5px;
}

.tarefa-container-button {
    flex: 1;
    border-radius: 5px;
    font-weight: 500;
    height: 100%;
    border: none;
    background-color: #41b883;
    color: #fff;
    padding: 12px;
    margin-left: 12px;
}

.container-tarefa {
    background-color: #fff;
    padding: 30px 20px;
    margin-top: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    width: 100%;
}

.container-nova-tarefa {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
    margin-top: 15px;
}

.container-nova-tarefa i {
    background-color:#41b883;
    color: #fff;
    padding: 12px;
    border-radius: 5px;
}

.completed {
    text-decoration: line-through;
    user-select: none;
}